name: Release Shared Workflow

on:
  workflow_call:
    inputs:
      relname: 
        required: false 
        type: string
        default: ''
      version:
        required: true
        type: string
      prerelease:
        required: false
        type: boolean
        default: true
      internalver:
        required: false
        type: string
        default: ''
      make_latest:
        required: false
        type: boolean
        default: false
      releasebody:
        required: false
        type: string
        default: ''

jobs:
  build-linux:
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-22.04]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write

    env:
      VERNAME: ${{ inputs.version }} 

    steps:
    - uses: actions/checkout@v3
   
    - name: Setup 
      run: |
        sudo apt-get update && sudo apt-get install -y make ca-certificates
        sudo update-ca-certificates

    - name: Optionally set internal version separately
      if: ${{ inputs.internalver != '' }}
      run: |
        echo "${{ inputs.internalver }}" > autoortho/.version

    - name: Build
      run: |
        make lin_tar VERSION=${{ env.VERNAME }}

    - name: Save artifact
      uses: actions/upload-artifact@v4
      with:
        name: linbin_${{ matrix.os }}
        path: autoortho_linux_*.tar.gz

    - name: Release
      if: ${{ inputs.relname != '' }}
      uses: softprops/action-gh-release@v1
      with:
        files: autoortho_linux_*.tar.gz
        tag_name: ${{ inputs.relname }}
        prerelease: ${{ inputs.prerelease }}
        body: ${{ inputs.releasebody }}


  build-macos:
    runs-on: macos-latest
    permissions:
      contents: write

    env:
      VERNAME: ${{ inputs.version }}

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v3
      with:
        python-version: '3.12'

    - name: Setup
      run: |
        python3 -m pip install -U -r requirements.txt
        python3 -m pip install -U -r requirements-build.txt

    - name: Optionally set internal version separately
      if: ${{ inputs.internalver != '' }}
      run: |
        echo "${{ inputs.internalver }}" > autoortho/.version

    - name: Build
      run: |
        make mac_app VERSION=${{ env.VERNAME }}
        make mac_zip VERSION=${{ env.VERNAME }}

    - name: Save artifact
      uses: actions/upload-artifact@v4
      with:
        name: macbin
        path: AutoOrtho_mac_*.zip

    - name: Release
      if: ${{ inputs.relname != '' }}
      uses: softprops/action-gh-release@v1
      with:
        files: AutoOrtho_mac_*.zip
        tag_name: ${{ inputs.relname }}
        prerelease: ${{ inputs.prerelease }}
        body: ${{ inputs.releasebody }}


  build-windows:
    runs-on: windows-2022
    permissions:
      contents: write

    env:
      VERNAME: ${{ inputs.version }} 

    steps:
    - uses: actions/checkout@v3
   
    - uses: actions/setup-python@v3
      with:
        python-version: '3.12'

    - name: Setup 
      run: |
          #choco --yes install winfsp
          python -m pip install -U -r requirements.txt
          python -m pip install -U -r requirements-build.txt

    - name: Optionally set internal version separately
      if: ${{ inputs.internalver != '' }}
      run: |
        echo "${{ inputs.internalver }}" > autoortho/.version

    - name: Build
      run: |
        make win_exe VERSION=${{ env.VERNAME }}
        make win_zip ZIP="7z a" VERSION=${{ env.VERNAME }}

    - name: Save artifact
      uses: actions/upload-artifact@v4
      with:
        name: winbin
        path: |
          AutoOrtho_*.exe
          autoortho_win_*.zip

    - name: Release
      if: ${{ inputs.relname != '' }}
      uses: softprops/action-gh-release@v1
      with:
        files: |
          AutoOrtho_*.exe
          autoortho_win_*.zip
        tag_name: ${{ inputs.relname }}
        prerelease: ${{ inputs.prerelease }}
        body: ${{ inputs.releasebody }}
